@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Dosis:800|Lobster|Pacifico');

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvas{
  background: #ff5c8a;
  position: absolute;
  width: 100%;
  height: 100%;
}

.o_heart{
  fill: #FFB3C3;
}
.i_heart{
  fill: #FCE3E9;
}

.text{
  z-index: 1000;
  position: absolute;
  font-size: 3.5em;
  letter-spacing: 3px;
  font-family: 'Dosis';
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFB3C3;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid #FCE3E9;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
body > .text > a{
  color: #293d71;
}
.arrow_container{
  width: 100%;
  height: 100px;
  position: fixed;
  border: 1px solid black;
  z-index: 1000;
  bottom: 15px;
  left: 0px;
}

.back_button{
    text-align:center; 
    top:60%;
    font-size:18px;
    background:#ffb6c3;
    border:0;
}
.heart-form{
    position: absolute;
    background: url("/img/Heart.svg");
    width: 600px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    /* animation: pulse 2s linear infinite; */
}

@media(max-width:450px){
    .text {
        font-size: 1.10em;
    }
    .back_button {
        top: 57%;
    }
}

.valentine-container{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-group, .valentine-text {
  margin-top: 140px;
}

.v-input {
  background: transparent;
  border: 2px solid #d5003c;
  border-radius: 8px;
  padding: 0 8px 0 8px;
  text-align: center;
  color: #510101;
}

.v-input::placeholder{
  color: #5c001a;
  text-align: center;
}
.valentine-content{
  height: 130px;
}
.card-container{
  transform: translate(-50%, -50%);
}
.card {
  width: 0;
  height: 0;
  border-top: 200px solid #eee;
  border-right: 275px solid #ddd;
  border-bottom: 200px solid #ccc;
  border-left: 270px solid #ccc;
}

.heart {
  width: 74px;
  height: 74px;
  background: #ff3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
  cursor: pointer;
}

.heart:before {
  content: "";
  background: #ff3838;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
}
.heart:after {
  content: "";
  background: #ff3838;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

/* .send-valentine-btn {
  position: relative;
  width: 150px;
  height: 150px;
  background: #eb3f84;
  margin: 200px auto;
  transform: rotate(0deg);
  border-radius: 150px;
} */
.send-valentine-btn {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #eb3f84;
  transform: rotate(0deg);
  border-radius: 150px;
  bottom: -32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.send-valentine, .send-valentine-after{
  transform: translate(-50%, -50%);
  rotate: 0deg;
  z-index: 10;
  transition: all 1s ease-in-out;
}
.send-valentine-after{
  transform: none;
  rotate: -45deg;
  top: 57px !important;
  display: none;
}
.animation > .send-valentine{
  transition: all 1s ease-in-out;
  display:none;
}
.animation > .send-valentine-after{
  transition: all 1s ease-in-out;
  display:block;
}
.animation.send-valentine-btn{
   -webkit-animation: heart 4s ease 1;
           animation: heart 4s ease 1;
           animation-fill-mode: forwards;
}
.send-valentine-btn:before, .send-valentine-btn:after {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  background: #eb3f84;
  border-radius: 150px;
  transition: 1s ease all;
}
.send-valentine-btn:before {
  left: 0;
  top: 0;
  background: #eb3f84;
}
.animation.send-valentine-btn:before{
  -webkit-animation: left 4s ease 1;
          animation: left 4s ease 1;
          animation-fill-mode: forwards;
}
.send-valentine-btn:after {
  left: 0;
  top: 0;
  background: #eb3f84;
}
.animation.send-valentine-btn:after {
  -webkit-animation: right 4s ease 1;
          animation: right 4s ease 1;
          animation-fill-mode: forwards;
}
.logo {
  top: 10%;
}
@-webkit-keyframes heart {
  0% {
    transform: rotate(0deg);
    border-radius: 150px;
    background: #fff;
    bottom: -10%;
    left: 39%;
  }
  50% {
    transform: rotate(45deg);
    border-radius: 10px;
    bottom: -10%;
    left: 39%;
  }
  100% {
    transform: rotate(45deg);
    border-radius: 10px;
    background: #eb3f84;
    bottom: -10%;
    left: 39%;
  }
}

@keyframes heart {
  0% {
    transform: rotate(0deg);
    border-radius: 150px;
    background: #fff;
    bottom: -10%;
    left: 39%;
  }
  50% {
    transform: rotate(45deg);
    border-radius: 10px;
    bottom: -10%;
    left: 39%;
  }
  100% {
    transform: rotate(45deg);
    border-radius: 10px;
    background: #eb3f84;
    bottom: -10%;
    left: 39%;
  }
}
@-webkit-keyframes left {
  0% {
    top: 0;
    background: #fff;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -100px;
    background: #eb3f84;
    border-bottom-right-radius: 0;
  }
}
@keyframes left {
  0% {
    top: 0;
    background: #fff;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -100px;
    background: #eb3f84;
    border-bottom-right-radius: 0;
  }
}
@-webkit-keyframes right {
  0% {
    left: 0;
    background: #fff;
  }
  50% {
    left: -100px;
  }
  100% {
    left: -100px;
    background: #eb3f84;
    border-bottom-right-radius: 0;
  }
}
@keyframes right {
  0% {
    left: 0;
    background: #fff;
  }
  50% {
    left: -100px;
  }
  100% {
    left: -100px;
    background: #eb3f84;
    border-bottom-right-radius: 0;
  }
}
@keyframes pulse {
  0%{
      box-shadow: 0 0 0 0 #d5003c;
  }
  100%{
      box-shadow: 0 0 5px 30px #d5003c00;
  }
}

footer{
  background: #FFB3C3;
  color: #293d71;
}